@use 'src/styles/vars';



.pseudo-body {
  width: 60%;
  margin: 2% auto 0 auto;
}

.card-main {
  border: solid 1px vars.$mainPink;
  border-radius: 0.5rem;
  padding: 0.4rem;
  width: 80%;
  margin: 0 auto 1rem auto;
  background-color: white;
}

.Title-big {
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
}

.date-dig {
  font-size: 0.7rem;
  font-style: italic;
  color: rgb(94, 92, 92);
}

.description-actu-big{
  padding: 0.2rem 0 0.5rem 0;
}

.contener-card-medium {
  display: flex;
  flex-wrap: wrap;
}

.card-medium {
  border: solid 1px vars.$mainPink;
  border-radius: 0.5rem;
  padding: 0.6rem;
  width: 45%;
  margin: 0 auto 1rem auto;
  background-color: white;
}

.description-actu-Medium{
  padding: 0.2rem 0 0.5rem 0;
  font-size: 0.8rem;
}

.menu-page {
  margin: 2rem auto 0 auto;
  width: 10%;
  display: flex;
  justify-content: space-between;
}

.button-previous {
  display: flex;
}

.page-number{
  display: flex;
  justify-content: center;
}

.button-next {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 1200px) {

  .pseudo-body {
    width: 80%;
    margin: 2% auto 0 auto;
  }

  .Title-big {
    font-weight: 600;
    font-size: 1.2rem;
  }

}

@media screen and (max-width: 600px) {

  .pseudo-body {
    width: 90%;
    margin: 2% auto 0 auto;
  }

  .card-main {
    border: solid 1px vars.$mainPink;
    border-radius: 0.5rem;
    padding: 0.4rem;
    width: 90%;
    margin: 0 auto 1rem auto;
    background-color: white;
  }

  .Title-big {
    font-weight: 600;
    font-size: 1rem;
  }

  .menu-page {
    margin: 2rem auto 0 auto;
    width: 15%;
    display: flex;
    justify-content: space-between;
  }
}

/*media screen => 1200 780 660  500
@media screen and (max-width: 780px) {
  .Class {
    ****
  }
} */
