@use 'src/styles/vars';

.error-card, .front, .back {
 
	background-color:none;
}
.error-card {
	margin: 5rem;
}
.front, .back {
	box-sizing: border-box;
	padding: 2rem;
	border-radius: 2px;
  
	  
 
}
 

.error-card {
	position: relative;
}
.front, .back {
	position: absolute;
	top: 0;
	left: 50%;
	backface-visibility: hidden;
	overflow: hidden;
	transition: transform .8s ease;
}
.back {
	transform: rotateY(180deg);
}
.error-card:hover .front {
	transform: rotateY(-180deg);
}
.error-card:hover .back {
	transform: rotateY(0deg);
}

.error-card {
	perspective: 75rem;
}
