@use 'src/styles/vars';

.contact-form {
  display:flex;
  flex-direction: column;
  background-color:white;
  padding:20px;
  border-radius:vars.$buttonRadius;
  width:60%;
  margin:auto;
  margin-top:2em;
}

.contact-form-title {
  display:flex;
  flex-direction:row;
  justify-content: center;
  font-size: 2em;
  margin-bottom:1em;
}

.contact-form-mainTitle {
  margin-left:0.2em;
}

.contact-form-input, .contact-form-message  {
width: 100%;
padding: 10px;
margin: 5px 0 22px 0;
border: none;
background: #eee;
border-radius:0.5em;
}

.contact-form-input:focus, .contact-form-message:focus {
  background-color: #ddd;
  outline: none;
}


 
.contact-form-span {
  // display:none;
  color:red;
  margin-bottom:1.5em;
}
 
.contact-form-button {
  border-radius:vars.$buttonRadius;
  background-color: vars.$mainPink;
  color: #FFFFFF;
  font-weight: bold;
  padding: 12px 20px;
  width: 20%;
  margin-bottom: 20px;
  margin:auto;
  border: none;
  cursor: pointer;
  font-size: 0.8em;
}
  

//SMARTPHONE --------------- SMARTPHONE ---------------  // 
@media screen and (max-width: 500px) {
  
  .contact-form {
    padding-top:150px;
    width:100%;
    margin-top:0em;
    
  }
 
   

}

  